.section {
    background: #88c1d0;
    width: 200px;
    height: 200px;
    margin: 50px;
}


/*salut*/


@media only screen and (min-width: 1400px) {
    body {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (min-width: 768px) and (max-width: 1399px) {
    body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 767px) {
    body {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}








